**/node_modules
**/dist
**/.next
**/.turbo
**/coverage
**/tsconfig.tsbuildinfo
**/*.tsbuildinfo
**/.env
**/.env.local
**/.env.*.local
**/.git
**/.DS_Store
**/.vscode
**/.idea
**/*.log
docker/psql
docker/localstack/volume
volume
psql
